.contents {
	position: absolute;
	left: 32%;
	top: 350px;
	width: 33%;
}

.btn-board {
	width: 100%;
}

.btn-board h4 {
	margin: 0px;
	margin-top: 5px;
}
.btn-board .btn {
	width: 95%;
	font-weight: bolder;
	text-transform: uppercase;
	margin: 10px 0px;
}

.btn-board .search-input {
	width: 79%;
}

.search-iframe {
	position: fixed;
	top: 40px;
	border: none;
	width: 100%;
	left: 0px;
	bottom: 0px;
	height: 100%;
}

.btn-board .search-btn {
	width: 15%;
	position: relative;
	bottom: 6px;
	margin-left: 10px;
}

.btn-back {
	position: absolute;
	right: -9%;
	top: 25px;
}

.tittle {
	position: relative;
	top: 15px;
	left: 3px;
	z-index: -1;
	border-radius: 20px;
	width: 75px;
	height: 30px;
	text-transform: uppercase;
}

.nav-contents {
	margin: 0px 15%;
}

.banner {
	position: relative;
	top: 50px;
}

.modal {
	border-radius: 30px;
}

.modal-header {
	background-color: #DA4F49;
	border-bottom: 2px solid black;
	border-radius: 20px 20px 0px 0px;
}

.modal-footer {
	background-color: #04C;
	border-radius: 0px 0px 20px 20px;
}

.modal-footer a {
	text-transform: uppercase;
	font-weight: bolder;
}

.close {
	font-size: 25px;
	opacity: 0.5;
	filter: alpha(opacity=20);
}

#calendar_form p {
	margin: 20px 0px;
}

.modal-header h3 {
	text-transform: uppercase;
	text-align: center;
	font-weight: bolder;
}

#calendar_form {
	margin: 40px 40px;
}

#calendar_form .form-row span {
	width: 80px;
	display: inline-block;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }