<a href="#" class='btn btn-warning tittle'>Data</a>
<a href="/home" class='btn btn-danger btn-back go_to'> back</a>
<div class="well btn-board">
	<a href="https://docs.google.com/spreadsheet/ccc?key=0Aq4EQWoyX5w-dC13U0tTRzI4VnhqSk9oR2RtUllxNEE" class="btn btn-info btn-large" target="blank">Ticket Data Sheet</a>
	<a href="https://docs.google.com/spreadsheet/ccc?key=0Aq4EQWoyX5w-dEVzYVRyVGUtbThDUDVweWk0T2g3REE" class="btn btn-info btn-large" target="blank">Presale Password List</a>
	<a href="https://docs.google.com/spreadsheet/ccc?key=0Aq4EQWoyX5w-dDUwNTh1a1E3UHNmRmRBU3FNY2gzMEE" class="btn btn-info btn-large" target="blank">Usefull Sites</a>
</div>